.blog__postList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog__postList li:first-of-type {
  margin: 0;
}

.blog__postList li {
  margin: 1rem 0;
}

.blog__postList li:last-of-type {
  margin: 0 0 1rem 0;
}

.post__title {
  margin: 0;
}

.post__date {
  font-family: 'Open Sans';
  font-variant-numeric: proportional-nums;
}
