.blog__postList {
  font-family: 'Amatic SC', cursive;
  font-size: 2.3rem;
  list-style-type: none;
  line-height: 1;
}

.blog__postList li {
  margin: 1rem 0;
}

.blog__postLine {
  border-left: 1px solid var(--color-links);
  height: 2rem;
  transform: skew(10deg, 0deg);
  width: 1px;
  position: relative;
  left: 25%;
  margin-top: 1rem;
}

.blog__postList li:nth-child(even) > .blog__postLine {
  transform: skew(-10deg, 0deg);
  left: 40%;
}

.blog__postList li:nth-last-child(1) > .blog__postLine {
  display: none;
}
