:root {
  --color-foreground: rgba(0, 66, 255, 0.8);
  --color-background: #fafafa;
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --font-size: 20px;
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
  --header-height: 3.7rem;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', var(--font-body);
}

.navigation__header {
  border-bottom: 1px solid rgba(0, 66, 255, 0.8);
  box-shadow: 0px 2px 2px rgb(0 66 255 / 20%);
  position: fixed;
  height: var(--header-height);
  top: 0;
  width: 100vw;
  background-color: var(--color-background);
}

.navigation__logoLink {
  display: flex;
}

.navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation__list > li {
  display: inline;
  margin: 0 0.4rem;
}

.layout__content {
  margin-top: calc(var(--header-height) + 0.3rem);
}

.content__container {
  padding: 0 1rem;
}
