:root {
  --color-foreground: rgba(17, 17, 17, 0.8);
  --color-background: #fafafa;
  --color-links: rgba(0, 66, 255, 0.8);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --font-size: 20px;
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
  --header-height: 72px;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  font-family: 'Open Sans';
  color: var(--color-links);
  outline: none;
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat;
}

time {
  font-family: 'Open Sans';
  font-variant-numeric: proportional-nums;
}

.navigation__header {
  box-shadow: none;
  position: sticky;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--color-background);
  z-index: 10;
}

.navigation__headerShadow {
  box-shadow: 0px 0px 10px #888;
}

.navigation__logoLink {
  display: flex;
}

.navigation__link {
  font-size: 1.3rem;
  font-weight: 700;
  color: #0042ff;
  text-transform: uppercase;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  z-index: 10;
}

@media screen and (min-width: 650px) {
  .navigation__list {
    justify-content: flex-end;
  }

  .navigation__list li {
    padding: 0 1rem;
  }
}

.content__container {
  padding: 0 1rem;
}
