:root {
  /* Breakpoints */
  /* --bp-tablet: 640px; */
  /* --bp-medium: 768px; */
  /* --bp-desktop: 1024px; */

  /* Spacing */
  --outer-spacing: 1rem;
  --spacing: 0.4rem;

  /* Color */
  --background-color: #fefdfa;
}

.mainContainer {
  padding: 0 var(--outer-spacing);
}

@media (min-width: 640px) {
  .mainContainer {
    display: flex;
    justify-content: center;
  }
}
