.header {
  display: flex;
  padding: 0.8rem;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.linksContainer a {
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  font-size: 1.2rem;
}

.linksContainer .logoLink {
  display: flex;
  padding-right: var(--spacing);
  border-bottom: none;
}
