.stuff-list {
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.stuff-list li a {
  text-decoration: none;
}

.stuffLink__title {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2rem;
}

.stuffLink__divider {
  margin: 0.4rem 0 0.8rem 0;
}

.stuffLink__abstract {
  margin-top: 0;
  font-size: 1rem;
}

.stuffLink__tagContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.2rem;
  column-gap: 0.2rem;
}

.stuffLink__tag {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0 .6rem;
  font-size: .6rem;
  color: #333;
  background-color: #ddd;
}
