.thoughtContainer pre {
  font-size: 0.8rem;
}

.thoughtContainer img {
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .thoughtContainer {
    max-width: 75vw;
  }

  .thoughtContainer pre {
    font-size: 0.7rem;
  }
}
