name = "jaw"

workers_dev = true
main = "./build/index.js"
# https://developers.cloudflare.com/workers/platform/compatibility-dates
compatibility_date = "2022-04-05"

[site]
  bucket = "./public"

[build]
  command = "npm run build"

[vars]
CONTENTFUL_SPACE_ID="<SpaceId>"
CONTENTFUL_DELIVERY_API_TOKEN="<Delivery API Token>"
CONTENTFUL_DELIVERY_BASE_URL="<Delivery API Base URL>"
CONTENTFUL_PREVIEW_BASE_URL="<Preview API Base URL>"
CONTENTFUL_PREVIEW_API_TOKEN="<Preview API Token>"
