compatibility_date = "<Today's date>"
name = "<Name of worker>"
type = "javascript"

zone_id = ""
account_id = ""
route = ""
workers_dev = true

[site]
bucket = "./public"
entry-point = "."

[build]
command = "npm run build"

[build.upload]
format="service-worker"

[vars]
CONTENTFUL_SPACE_ID="<SpaceID>"
CONTENTFUL_DELIVERY_API_TOKEN="<Delivery API Token>"
CONTENTFUL_DELIVERY_BASE_URL="<Delivery API Base URL>"
CONTENTFUL_PREVIEW_BASE_URL="<Preview API Base Url>"
CONTENTFUL_PREVIEW_API_TOKEN="<Preview API Token>"
