:root {
  --bg-color: #fff;
  --text-color: #001f3f;
  --link-color: var(--text-color);
  --surface-text-color: #eaff76;
  --surface-color: #3d9970;
  --surface-border: #3a8964;
  --logo-color: #0042ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #001f3f;
    --text-color: #ddd;
    --link-color: #eaff76; /* TODO */
    --surface-text-color: #eaff76;
    --surface-color: #3d9970; /* TODO */
    --surface-border: #3a8964; /* TODO */
    --logo-color: #ffdc00;
  }
}

body.dark-theme {
  --bg-color: #001f3f;
  --text-color: #ddd;
  --link-color: #eaff76; /* TODO */
  --surface-text-color: #eaff76;
  --surface-color: #3d9970; /* TODO */
  --surface-border: #3a8964; /* TODO */
  --logo-color: #ffdc00;
}

body.light-theme {
  --bg-color: #fff;
  --text-color: #001f3f;
  --link-color: #eaff76;
  --surface-text-color: #eaff76;
  --surface-color: #3d9970;
  --surface-border: #3a8964;
  --logo-color: #0042ff;
}
